@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*
{
    margin: 0;
    padding: 0;

    /* fonts */
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.container
{
    width: 100%;
    height: 100vh;
    /* background-color: black; */

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.weather{
    background-color: rgba(0, 0, 0, 0.2);
    width: 30%;
    height: fit-content;
    color: white;
    border-radius: 10px;
    text-align: end;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */


    font-size:x-large;
    padding: 1.5%;
}

#img{
    width: 70px;
    text-align: start;
    display:inline;
    border: 2px solid red;
    width: 150px;
}

.temperature{
    font-size:5rem;
    padding: 10px;
    text-align: start;
    /* border: 2px solid red; */
    width: 150px;
}
form
{
    margin-top: 50px;
    padding: 0;
    text-align: center;
}

.searchField
{
    background-color: rgba(0, 0, 0, 0.4);
    font-size: large;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    padding-left: 15px;
    border: none;
    outline: none;
}
button
{
    background-color: rgba(255, 255, 255, 0.1);
    font-size: large;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}



/* GRADIENT BACKGROUND */
.container {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
